@import "./variable";
@import "./mixin";
@import "./pages/";
@import "./keyFrame";
@import "./pages/index";
@import "./layout/index";

// typo
// Polices
// Logo et titres: Shrikhand
// Texte: Roboto

*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
    list-style: none;
    text-decoration: none;
}

a {
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Shrikhand", cursive;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 62.5%;
    max-width: 1500px;
    margin: auto;
    background: $color-s;
}
