@import "./variables";
@import "./mixin";
@import "./pages/index";
@import "./keyFrame";
@import "./pages/index";
@import "./layout/index";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap");

*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
    list-style: none;
    text-decoration: none;
}

a {
    color: inherit;
}

html {
    //10px
    font-size: 62.5%;
    @include respond(phone) {
        /* ------------------- background-color: rgb(44, 59, 59); ------------------- */
        font-size: 55.5%;
    }
    @include respond(tab-port) {
        font-size: 50%;
        /* ------------------- background-color: rgb(87, 88, 189); ------------------ */
    }
    @include respond(tab-land) {
        font-size: 56.25%;
        /* ------------------ background-color: rgb(187, 145, 56); ------------------ */
    }
    @include respond(big-desktop) {
        font-size: 75%;
        /* ------------------- background-color: rgb(95, 185, 95); ------------------ */
    }
}

// typo
.title-shi {
    font-family: "Shrikhand", cursive;
}

body {
    font-family: "Roboto", sans-serif;
    max-width: 1500px;
    margin: auto;
    box-sizing: border-box;
}
main {
    background-color: rgb(247, 247, 247); // a voir mentor
}

//btn
.btn-main {
    background: linear-gradient(
        166deg,
        rgba(255, 121, 218, 1) 0%,
        rgba(147, 86, 220, 1) 100%
    );
    color: #fff;
    border-radius: 4rem;
    border: 0px;
    font-size: 1.5rem;
    padding: 1.5rem;
    box-shadow: 0px 10px 19px -4px rgba(0, 0, 0, 0.59);

    &:hover {
        background: linear-gradient(
            166deg,
            rgba(255, 121, 218, 0.7) 0%,
            rgba(147, 86, 220, 1) 100%
        );

        box-shadow: 0px 10px 19px 3px rgba(0, 0, 0, 0.6);
    }
}

//anim 1
.element-anim1 {
    @include animBottom(0.01s);
}

.element-anim2 {
    @include animBottom(0.1s);
}

.element-anim3 {
    @include animBottom(0.2s);
}

.element-anim4 {
    @include animBottom(0.3s);
}

.element-anim5 {
    @include animBottom(0.4s);
}

.element-anim6 {
    @include animBottom(0.5s);
}
.element-anim7 {
    @include animBottom(0.6s);
}
.element-anim8 {
    @include animBottom(0.7s);
}
.element-anim9 {
    @include animBottom(0.8s);
}

.element-anim10 {
    @include animBottom(0.9s);
}

//heart comming
.heartComming {
    &:hover {
        @include heatT;
    }
}

// loader
