@import "./keyFrame";

@mixin respond($breakPoint) {
    @if $breakPoint == phone {
        @media (max-width: 37.5em) {
            @content;
        } //600px
    }
    @if $breakPoint == tab-port {
        @media (max-width: 56.25em) {
            @content;
        } //900px
    }
    @if $breakPoint == tab-land {
        @media (max-width: 75em) {
            @content;
        } //1200px
    }
    @if $breakPoint == big-desktop {
        @media (min-width: 112.5em) {
            @content;
        } //1800px
    }
}

@mixin flexCenter($direction) {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: $direction !important;
}

/* --------------------------------- anim 1 --------------------------------- */
@mixin animBottom($delay) {
    animation-name: fromBottom;
    animation-duration: 0.8s;
    animation-delay: $delay;
    animation-timing-function: cubic-bezier(.76,.22,.75,.87);
}

/* ---------------------------------- anim2 --------------------------------- */
@mixin heatT{
    animation-name: heatAppear;
    animation-duration: 1s;

}