*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
  list-style: none;
  text-decoration: none; }

a {
  color: inherit; }

body {
  font-family: "Gill Sans", sans-serif;
  font-size: 62.5%;
  max-width: 1500px;
  margin: auto;
  background: #FF79DA; }
