@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap");
@keyframes fromBottom {
  0% {
    opacity: 0;
    transform: translateY(1rem); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

@keyframes heatAppear {
  0% {
    opacity: 0;
    transform: translatex(0.3rem); }
  100% {
    opacity: 1;
    transform: translatex(0px); } }

@keyframes rotation {
  to {
    transform: rotate(360deg); } }

@keyframes scaleL {
  50% {
    transform: scale(1); } }

@keyframes hidden {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    left: -9999px; } }

@keyframes bgColor {
  0% {
    background: rgba(37, 30, 30, 0.781);
    opacity: 1; }
  80% {
    background: rgba(37, 30, 30, 0.781);
    opacity: 0.8; }
  100% {
    opacity: 0; } }

/* --------------------------------- anim 1 --------------------------------- */
/* ---------------------------------- anim2 --------------------------------- */
@keyframes fromBottom {
  0% {
    opacity: 0;
    transform: translateY(1rem); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

@keyframes heatAppear {
  0% {
    opacity: 0;
    transform: translatex(0.3rem); }
  100% {
    opacity: 1;
    transform: translatex(0px); } }

@keyframes rotation {
  to {
    transform: rotate(360deg); } }

@keyframes scaleL {
  50% {
    transform: scale(1); } }

@keyframes hidden {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    left: -9999px; } }

@keyframes bgColor {
  0% {
    background: rgba(37, 30, 30, 0.781);
    opacity: 1; }
  80% {
    background: rgba(37, 30, 30, 0.781);
    opacity: 0.8; }
  100% {
    opacity: 0; } }

/* --------------------------------- anim 1 --------------------------------- */
/* ---------------------------------- anim2 --------------------------------- */
.sectionOne {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5rem;
  background-color: rgba(151, 156, 156, 0.1); }
  .sectionOne__title {
    text-align: center;
    padding: 2rem;
    padding-top: 4rem;
    font-size: 2.5rem; }
  .sectionOne__description {
    font-size: 1.6rem;
    text-align: center;
    padding: 1rem;
    color: #343636; }
  .sectionOne__btn {
    background: linear-gradient(166deg, #ff79da 0%, #9356dc 100%);
    color: #fff;
    border-radius: 4rem;
    border: 0px;
    font-size: 1.5rem;
    padding: 1.5rem;
    box-shadow: 0px 10px 19px -4px rgba(0, 0, 0, 0.59); }
    .sectionOne__btn:hover {
      background: linear-gradient(166deg, rgba(255, 121, 218, 0.7) 0%, #9356dc 100%);
      box-shadow: 0px 10px 19px 3px rgba(0, 0, 0, 0.6); }

@keyframes fromBottom {
  0% {
    opacity: 0;
    transform: translateY(1rem); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

@keyframes heatAppear {
  0% {
    opacity: 0;
    transform: translatex(0.3rem); }
  100% {
    opacity: 1;
    transform: translatex(0px); } }

@keyframes rotation {
  to {
    transform: rotate(360deg); } }

@keyframes scaleL {
  50% {
    transform: scale(1); } }

@keyframes hidden {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    left: -9999px; } }

@keyframes bgColor {
  0% {
    background: rgba(37, 30, 30, 0.781);
    opacity: 1; }
  80% {
    background: rgba(37, 30, 30, 0.781);
    opacity: 0.8; }
  100% {
    opacity: 0; } }

/* --------------------------------- anim 1 --------------------------------- */
/* ---------------------------------- anim2 --------------------------------- */
.sectionTwo {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  justify-content: center;
  align-items: center; }
  @media (min-width: 56.6em) {
    .sectionTwo {
      flex-direction: row;
      margin: 1rem; } }
  .sectionTwo__title {
    align-self: flex-start;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 2rem; }
  .sectionTwo__btn {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 2rem;
    font-weight: 600;
    padding: 2.5rem 1rem;
    margin: 1rem 0rem;
    width: 95%;
    border: 0px;
    box-shadow: 0px 10px 19px -4px rgba(0, 0, 0, 0.3); }
    @media (min-width: 56.6em) {
      .sectionTwo__btn {
        margin: 3rem; } }
    .sectionTwo__btn-number {
      position: absolute;
      left: 0;
      transform: translate(-50%, 0);
      background-color: #9356DC;
      color: #fff;
      border-radius: 50%;
      padding: 1rem 1.5rem;
      margin-right: 4rem; }
    .sectionTwo__btn i {
      color: #343636; }
    .sectionTwo__btn:hover {
      background-color: rgba(147, 86, 220, 0.2); }
      .sectionTwo__btn:hover i {
        color: #9356DC; }

.restaurants {
  background-color: rgba(151, 156, 156, 0.2);
  padding: 2rem; }
  .restaurants__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    @media (min-width: 56.6em) {
      .restaurants__content {
        margin: 3rem;
        flex-direction: row; } }
  .restaurants__title {
    align-self: flex-start;
    font-size: 3rem;
    padding: 2rem; }
  .restaurants__card {
    width: 90%;
    border-radius: 2rem;
    background-color: white;
    margin: 2rem 0; }
    @media (min-width: 56.6em) {
      .restaurants__card {
        margin: 2rem; } }
    .restaurants__card-img-content {
      position: relative; }
      .restaurants__card-img-content span {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 1.5rem;
        color: green;
        padding: 0.5rem;
        background-color: #99e2d0; }
    .restaurants__card-img {
      height: 22rem;
      border-top-left-radius: 1.5rem;
      border-top-right-radius: 1.5rem;
      object-fit: cover;
      width: 100%; }
    .restaurants__card-content {
      position: relative;
      padding: 1rem; }
      .restaurants__card-content h3 {
        font-size: 2rem; }
      .restaurants__card-content p {
        font-size: 2rem;
        color: #343636; }
      .restaurants__card-content-icon {
        display: block;
        position: absolute;
        right: 3rem;
        top: 2rem;
        transform: translate(50%, 50%);
        cursor: pointer; }
        .restaurants__card-content-icon i {
          size: 4rem; }
        .restaurants__card-content-icon .fas {
          display: none; }
        .restaurants__card-content-icon:hover .far {
          display: none; }
        .restaurants__card-content-icon:hover .fas {
          display: inherit;
          color: #9356DC; }

.headerMenu {
  position: relative; }
  .headerMenu__arrow {
    display: inline;
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translate(-50%, -50%); }

.image {
  z-index: 1; }
  .image__img {
    object-fit: cover;
    width: 100%; }

.menu {
  position: relative;
  height: 100%;
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
  margin-top: -2rem;
  top: -5rem;
  background-color: #f7f7f7;
  padding: 4rem 3.5rem; }
  .menu__title-block {
    position: relative;
    display: block;
    width: 100%; }
    .menu__title-block-icone {
      display: block;
      position: absolute;
      right: 2rem;
      top: 50%;
      transform: translate(0%, -50%);
      cursor: pointer; }
      .menu__title-block-icone i {
        size: 4rem; }
      .menu__title-block-icone .fas {
        display: none; }
      .menu__title-block-icone:hover .far {
        display: none; }
      .menu__title-block-icone:hover .fas {
        display: inherit;
        color: #9356DC; }
  .menu__entre-title {
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    color: #979c9c;
    font-size: 1.8rem;
    margin-top: 4rem; }
    .menu__entre-title::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 2px;
      width: 50%;
      /* or 100px */
      border-bottom: 2px solid #99E2D0; }
  .menu__plat {
    background-color: #fff;
    border-radius: 1.5rem;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 4px 4px 6px #aaa;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: padding-right 450ms ease-in-out; }
    @media (min-width: 56.6em) {
      .menu__plat {
        height: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly; } }
    .menu__plat-title {
      font-size: 1.6rem;
      text-overflow: ellipsis;
      display: inline;
      overflow: hidden; }
    .menu__plat-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      line-height: 1.5rem; }
      .menu__plat-content-description {
        font-size: 1.8rem;
        color: #979c9c;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline; }
      .menu__plat-content-tarif {
        font-size: 1.8rem;
        font-weight: bold;
        margin-left: auto; }
    .menu__plat:hover {
      padding-right: 7.5rem; }
    .menu__plat:hover .icone {
      opacity: 1;
      transform: translate(-6rem); }
    .menu__plat:hover .fa-check-circle {
      transform: rotate(360deg); }
    .menu__plat .icone {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #99E2D0;
      width: 5rem;
      height: 100%;
      border-top-right-radius: 1.5rem;
      border-bottom-right-radius: 1.5rem;
      position: absolute;
      padding: 2rem;
      right: -6rem;
      top: 0;
      opacity: 0;
      transition: transform 330ms ease-in-out;
      z-index: 100; }
      .menu__plat .icone .fa-check-circle {
        color: #fff;
        transition: transform 500ms ease-in-out; }
  .menu__btn {
    padding: 1.5rem 6rem !important;
    margin-top: 4rem !important;
    display: block;
    margin: auto; }

@media (min-width: 56.6em) {
  .menu__content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; } }

@media (min-width: 56.6em) {
  .menu__content-entre, .menu__content-plat, .menu__content-dessert {
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 50rem;
    transition: padding-right 450ms ease-in-out; }
    .menu__content-entre:hover, .menu__content-plat:hover, .menu__content-dessert:hover {
      padding-right: 0; } }

@keyframes fromBottom {
  0% {
    opacity: 0;
    transform: translateY(1rem); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

@keyframes heatAppear {
  0% {
    opacity: 0;
    transform: translatex(0.3rem); }
  100% {
    opacity: 1;
    transform: translatex(0px); } }

@keyframes rotation {
  to {
    transform: rotate(360deg); } }

@keyframes scaleL {
  50% {
    transform: scale(1); } }

@keyframes hidden {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    left: -9999px; } }

@keyframes bgColor {
  0% {
    background: rgba(37, 30, 30, 0.781);
    opacity: 1; }
  80% {
    background: rgba(37, 30, 30, 0.781);
    opacity: 0.8; }
  100% {
    opacity: 0; } }

@keyframes fromBottom {
  0% {
    opacity: 0;
    transform: translateY(1rem); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

@keyframes heatAppear {
  0% {
    opacity: 0;
    transform: translatex(0.3rem); }
  100% {
    opacity: 1;
    transform: translatex(0px); } }

@keyframes rotation {
  to {
    transform: rotate(360deg); } }

@keyframes scaleL {
  50% {
    transform: scale(1); } }

@keyframes hidden {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    left: -9999px; } }

@keyframes bgColor {
  0% {
    background: rgba(37, 30, 30, 0.781);
    opacity: 1; }
  80% {
    background: rgba(37, 30, 30, 0.781);
    opacity: 0.8; }
  100% {
    opacity: 0; } }

/* --------------------------------- anim 1 --------------------------------- */
/* ---------------------------------- anim2 --------------------------------- */
.sectionOne {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5rem;
  background-color: rgba(151, 156, 156, 0.1); }
  .sectionOne__title {
    text-align: center;
    padding: 2rem;
    padding-top: 4rem;
    font-size: 2.5rem; }
  .sectionOne__description {
    font-size: 1.6rem;
    text-align: center;
    padding: 1rem;
    color: #343636; }
  .sectionOne__btn {
    background: linear-gradient(166deg, #ff79da 0%, #9356dc 100%);
    color: #fff;
    border-radius: 4rem;
    border: 0px;
    font-size: 1.5rem;
    padding: 1.5rem;
    box-shadow: 0px 10px 19px -4px rgba(0, 0, 0, 0.59); }
    .sectionOne__btn:hover {
      background: linear-gradient(166deg, rgba(255, 121, 218, 0.7) 0%, #9356dc 100%);
      box-shadow: 0px 10px 19px 3px rgba(0, 0, 0, 0.6); }

@keyframes fromBottom {
  0% {
    opacity: 0;
    transform: translateY(1rem); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

@keyframes heatAppear {
  0% {
    opacity: 0;
    transform: translatex(0.3rem); }
  100% {
    opacity: 1;
    transform: translatex(0px); } }

@keyframes rotation {
  to {
    transform: rotate(360deg); } }

@keyframes scaleL {
  50% {
    transform: scale(1); } }

@keyframes hidden {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    left: -9999px; } }

@keyframes bgColor {
  0% {
    background: rgba(37, 30, 30, 0.781);
    opacity: 1; }
  80% {
    background: rgba(37, 30, 30, 0.781);
    opacity: 0.8; }
  100% {
    opacity: 0; } }

/* --------------------------------- anim 1 --------------------------------- */
/* ---------------------------------- anim2 --------------------------------- */
.sectionTwo {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  justify-content: center;
  align-items: center; }
  @media (min-width: 56.6em) {
    .sectionTwo {
      flex-direction: row;
      margin: 1rem; } }
  .sectionTwo__title {
    align-self: flex-start;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 2rem; }
  .sectionTwo__btn {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 2rem;
    font-weight: 600;
    padding: 2.5rem 1rem;
    margin: 1rem 0rem;
    width: 95%;
    border: 0px;
    box-shadow: 0px 10px 19px -4px rgba(0, 0, 0, 0.3); }
    @media (min-width: 56.6em) {
      .sectionTwo__btn {
        margin: 3rem; } }
    .sectionTwo__btn-number {
      position: absolute;
      left: 0;
      transform: translate(-50%, 0);
      background-color: #9356DC;
      color: #fff;
      border-radius: 50%;
      padding: 1rem 1.5rem;
      margin-right: 4rem; }
    .sectionTwo__btn i {
      color: #343636; }
    .sectionTwo__btn:hover {
      background-color: rgba(147, 86, 220, 0.2); }
      .sectionTwo__btn:hover i {
        color: #9356DC; }

.restaurants {
  background-color: rgba(151, 156, 156, 0.2);
  padding: 2rem; }
  .restaurants__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    @media (min-width: 56.6em) {
      .restaurants__content {
        margin: 3rem;
        flex-direction: row; } }
  .restaurants__title {
    align-self: flex-start;
    font-size: 3rem;
    padding: 2rem; }
  .restaurants__card {
    width: 90%;
    border-radius: 2rem;
    background-color: white;
    margin: 2rem 0; }
    @media (min-width: 56.6em) {
      .restaurants__card {
        margin: 2rem; } }
    .restaurants__card-img-content {
      position: relative; }
      .restaurants__card-img-content span {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 1.5rem;
        color: green;
        padding: 0.5rem;
        background-color: #99e2d0; }
    .restaurants__card-img {
      height: 22rem;
      border-top-left-radius: 1.5rem;
      border-top-right-radius: 1.5rem;
      object-fit: cover;
      width: 100%; }
    .restaurants__card-content {
      position: relative;
      padding: 1rem; }
      .restaurants__card-content h3 {
        font-size: 2rem; }
      .restaurants__card-content p {
        font-size: 2rem;
        color: #343636; }
      .restaurants__card-content-icon {
        display: block;
        position: absolute;
        right: 3rem;
        top: 2rem;
        transform: translate(50%, 50%);
        cursor: pointer; }
        .restaurants__card-content-icon i {
          size: 4rem; }
        .restaurants__card-content-icon .fas {
          display: none; }
        .restaurants__card-content-icon:hover .far {
          display: none; }
        .restaurants__card-content-icon:hover .fas {
          display: inherit;
          color: #9356DC; }

.headerMenu {
  position: relative; }
  .headerMenu__arrow {
    display: inline;
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translate(-50%, -50%); }

.image {
  z-index: 1; }
  .image__img {
    object-fit: cover;
    width: 100%; }

.menu {
  position: relative;
  height: 100%;
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
  margin-top: -2rem;
  top: -5rem;
  background-color: #f7f7f7;
  padding: 4rem 3.5rem; }
  .menu__title-block {
    position: relative;
    display: block;
    width: 100%; }
    .menu__title-block-icone {
      display: block;
      position: absolute;
      right: 2rem;
      top: 50%;
      transform: translate(0%, -50%);
      cursor: pointer; }
      .menu__title-block-icone i {
        size: 4rem; }
      .menu__title-block-icone .fas {
        display: none; }
      .menu__title-block-icone:hover .far {
        display: none; }
      .menu__title-block-icone:hover .fas {
        display: inherit;
        color: #9356DC; }
  .menu__entre-title {
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    color: #979c9c;
    font-size: 1.8rem;
    margin-top: 4rem; }
    .menu__entre-title::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 2px;
      width: 50%;
      /* or 100px */
      border-bottom: 2px solid #99E2D0; }
  .menu__plat {
    background-color: #fff;
    border-radius: 1.5rem;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 4px 4px 6px #aaa;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: padding-right 450ms ease-in-out; }
    @media (min-width: 56.6em) {
      .menu__plat {
        height: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly; } }
    .menu__plat-title {
      font-size: 1.6rem;
      text-overflow: ellipsis;
      display: inline;
      overflow: hidden; }
    .menu__plat-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      line-height: 1.5rem; }
      .menu__plat-content-description {
        font-size: 1.8rem;
        color: #979c9c;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline; }
      .menu__plat-content-tarif {
        font-size: 1.8rem;
        font-weight: bold;
        margin-left: auto; }
    .menu__plat:hover {
      padding-right: 7.5rem; }
    .menu__plat:hover .icone {
      opacity: 1;
      transform: translate(-6rem); }
    .menu__plat:hover .fa-check-circle {
      transform: rotate(360deg); }
    .menu__plat .icone {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #99E2D0;
      width: 5rem;
      height: 100%;
      border-top-right-radius: 1.5rem;
      border-bottom-right-radius: 1.5rem;
      position: absolute;
      padding: 2rem;
      right: -6rem;
      top: 0;
      opacity: 0;
      transition: transform 330ms ease-in-out;
      z-index: 100; }
      .menu__plat .icone .fa-check-circle {
        color: #fff;
        transition: transform 500ms ease-in-out; }
  .menu__btn {
    padding: 1.5rem 6rem !important;
    margin-top: 4rem !important;
    display: block;
    margin: auto; }

@media (min-width: 56.6em) {
  .menu__content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; } }

@media (min-width: 56.6em) {
  .menu__content-entre, .menu__content-plat, .menu__content-dessert {
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 50rem;
    transition: padding-right 450ms ease-in-out; }
    .menu__content-entre:hover, .menu__content-plat:hover, .menu__content-dessert:hover {
      padding-right: 0; } }

.footer {
  position: sticky;
  font-size: 2rem;
  background-color: #343636;
  color: #fff;
  padding: 3rem; }
  .footer__title {
    font-size: 3rem;
    margin-bottom: 4rem; }
  .footer__info {
    margin-top: 1rem;
    font-weight: 600; }
    .footer__info-item {
      margin-top: 1.5rem; }
      .footer__info-item span {
        padding-left: 1rem; }

@keyframes fromBottom {
  0% {
    opacity: 0;
    transform: translateY(1rem); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

@keyframes heatAppear {
  0% {
    opacity: 0;
    transform: translatex(0.3rem); }
  100% {
    opacity: 1;
    transform: translatex(0px); } }

@keyframes rotation {
  to {
    transform: rotate(360deg); } }

@keyframes scaleL {
  50% {
    transform: scale(1); } }

@keyframes hidden {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    left: -9999px; } }

@keyframes bgColor {
  0% {
    background: rgba(37, 30, 30, 0.781);
    opacity: 1; }
  80% {
    background: rgba(37, 30, 30, 0.781);
    opacity: 0.8; }
  100% {
    opacity: 0; } }

/* --------------------------------- anim 1 --------------------------------- */
/* ---------------------------------- anim2 --------------------------------- */
.header {
  width: 100%; }
  .header__title-main {
    text-align: center;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: row !important;
    height: 6rem;
    font-size: 3rem;
    vertical-align: middle; }
  .header__title-secondary {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    background-color: rgba(151, 156, 156, 0.5);
    width: 100%;
    color: #343636; }
    .header__title-secondary i {
      margin: 0.5; }
    .header__title-secondary span {
      margin: 1rem; }

@keyframes fromBottom {
  0% {
    opacity: 0;
    transform: translateY(1rem); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

@keyframes heatAppear {
  0% {
    opacity: 0;
    transform: translatex(0.3rem); }
  100% {
    opacity: 1;
    transform: translatex(0px); } }

@keyframes rotation {
  to {
    transform: rotate(360deg); } }

@keyframes scaleL {
  50% {
    transform: scale(1); } }

@keyframes hidden {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    left: -9999px; } }

@keyframes bgColor {
  0% {
    background: rgba(37, 30, 30, 0.781);
    opacity: 1; }
  80% {
    background: rgba(37, 30, 30, 0.781);
    opacity: 0.8; }
  100% {
    opacity: 0; } }

.loader-wrapper {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  animation: hidden linear 4s;
  animation-iteration-count: 1;
  animation: bgColor linear 4s;
  max-width: 1500px;
  margin: auto; }

.loader {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  z-index: 11111;
  position: absolute;
  animation: rotation 3s linear infinite;
  animation-iteration-count: 1; }
  .loader .c {
    transform: scale(0);
    animation: scaleL 2s linear infinite;
    animation-iteration-count: 1;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    margin: -1rem; }
  .loader .c1 {
    background-color: #9356DC;
    animation-delay: 1s; }
  .loader .c2 {
    background-color: #FF79DA;
    animation-delay: 2s; }
  .loader .c3 {
    background-color: #99E2D0;
    animation-delay: 1s; }

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
  list-style: none;
  text-decoration: none; }

a {
  color: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 37.5em) {
    html {
      /* ------------------- background-color: rgb(44, 59, 59); ------------------- */
      font-size: 55.5%; } }
  @media (min-width: 37.5em) {
    html {
      font-size: 50%;
      /* ------------------- background-color: rgb(87, 88, 189); ------------------ */ } }
  @media (min-width: 56.6em) {
    html {
      font-size: 56.25%;
      /* ------------------ background-color: rgb(187, 145, 56); ------------------ */ } }
  @media (min-width: 75.5em) {
    html {
      font-size: 75%;
      /* ------------------- background-color: rgb(95, 185, 95); ------------------ */ } }

.title-shi {
  font-family: "Shrikhand", cursive; }

body {
  font-family: "Roboto", sans-serif;
  max-width: 1500px;
  margin: auto;
  box-sizing: border-box; }

main {
  background-color: #f7f7f7; }

.btn-main {
  background: linear-gradient(166deg, #ff79da 0%, #9356dc 100%);
  color: #fff;
  border-radius: 4rem;
  border: 0px;
  font-size: 1.5rem;
  padding: 1.5rem;
  box-shadow: 0px 10px 19px -4px rgba(0, 0, 0, 0.59); }
  .btn-main:hover {
    background: linear-gradient(166deg, rgba(255, 121, 218, 0.7) 0%, #9356dc 100%);
    box-shadow: 0px 10px 19px 3px rgba(0, 0, 0, 0.6); }

.element-anim1 {
  animation-name: fromBottom;
  animation-duration: 0.8s;
  animation-delay: 0;
  animation-timing-function: cubic-bezier(0.76, 0.22, 0.75, 0.87); }

.element-anim2 {
  animation-name: fromBottom;
  animation-duration: 0.8s;
  animation-delay: 0.1s;
  animation-timing-function: cubic-bezier(0.76, 0.22, 0.75, 0.87); }

.element-anim3 {
  animation-name: fromBottom;
  animation-duration: 0.8s;
  animation-delay: 0.2s;
  animation-timing-function: cubic-bezier(0.76, 0.22, 0.75, 0.87); }

.element-anim4 {
  animation-name: fromBottom;
  animation-duration: 0.8s;
  animation-delay: 0.3s;
  animation-timing-function: cubic-bezier(0.76, 0.22, 0.75, 0.87); }

.element-anim5 {
  animation-name: fromBottom;
  animation-duration: 0.8s;
  animation-delay: 0.4s;
  animation-timing-function: cubic-bezier(0.76, 0.22, 0.75, 0.87); }

.element-anim6 {
  animation-name: fromBottom;
  animation-duration: 0.8s;
  animation-delay: 0.5s;
  animation-timing-function: cubic-bezier(0.76, 0.22, 0.75, 0.87); }

.element-anim7 {
  animation-name: fromBottom;
  animation-duration: 0.8s;
  animation-delay: 0.6s;
  animation-timing-function: cubic-bezier(0.76, 0.22, 0.75, 0.87); }

.element-anim8 {
  animation-name: fromBottom;
  animation-duration: 0.8s;
  animation-delay: 0.7s;
  animation-timing-function: cubic-bezier(0.76, 0.22, 0.75, 0.87); }

.element-anim9 {
  animation-name: fromBottom;
  animation-duration: 0.8s;
  animation-delay: 0.8s;
  animation-timing-function: cubic-bezier(0.76, 0.22, 0.75, 0.87); }

.element-anim10 {
  animation-name: fromBottom;
  animation-duration: 0.8s;
  animation-delay: 0.9s;
  animation-timing-function: cubic-bezier(0.76, 0.22, 0.75, 0.87); }

.heartComming:hover {
  animation-name: heatAppear;
  animation-duration: 1s; }
