@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap");
.sectionOne {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5rem;
  background-color: rgba(194, 201, 201, 0.1); }
  .sectionOne__title {
    text-align: center;
    padding: 2rem;
    padding-top: 4rem;
    font-size: 2rem; }
  .sectionOne__description {
    font-size: 1.6rem;
    text-align: center;
    padding: 1rem;
    color: #343636; }
  .sectionOne__btn {
    background: linear-gradient(166deg, #ff79da 0%, #9356dc 100%);
    color: #fff;
    border-radius: 4rem;
    border: 0px;
    font-size: 1.5rem;
    padding: 1.5rem;
    box-shadow: 0px 10px 19px -4px rgba(0, 0, 0, 0.59); }
    .sectionOne__btn:hover {
      background: linear-gradient(166deg, rgba(255, 121, 218, 0.7) 0%, #9356dc 100%);
      box-shadow: 0px 10px 19px 3px rgba(0, 0, 0, 0.6); }

.sectionTwo {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  justify-content: center;
  align-items: center; }
  .sectionTwo__title {
    align-self: flex-start;
    font-size: 2.5rem;
    font-weight: 800; }
  .sectionTwo__btn {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 2rem;
    font-weight: 600;
    padding: 2.5rem 1rem;
    margin: 1rem 0rem;
    width: 95%;
    border: 0px;
    box-shadow: 0px 10px 19px -4px rgba(0, 0, 0, 0.3); }
    .sectionTwo__btn-number {
      position: absolute;
      left: 0;
      transform: translate(-50%, 0);
      background-color: #9356DC;
      color: #fff;
      border-radius: 50%;
      padding: 1rem 1.5rem;
      margin-right: 4rem; }

.sectionOne {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5rem;
  background-color: rgba(194, 201, 201, 0.1); }
  .sectionOne__title {
    text-align: center;
    padding: 2rem;
    padding-top: 4rem;
    font-size: 2rem; }
  .sectionOne__description {
    font-size: 1.6rem;
    text-align: center;
    padding: 1rem;
    color: #343636; }
  .sectionOne__btn {
    background: linear-gradient(166deg, #ff79da 0%, #9356dc 100%);
    color: #fff;
    border-radius: 4rem;
    border: 0px;
    font-size: 1.5rem;
    padding: 1.5rem;
    box-shadow: 0px 10px 19px -4px rgba(0, 0, 0, 0.59); }
    .sectionOne__btn:hover {
      background: linear-gradient(166deg, rgba(255, 121, 218, 0.7) 0%, #9356dc 100%);
      box-shadow: 0px 10px 19px 3px rgba(0, 0, 0, 0.6); }

.sectionTwo {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  justify-content: center;
  align-items: center; }
  .sectionTwo__title {
    align-self: flex-start;
    font-size: 2.5rem;
    font-weight: 800; }
  .sectionTwo__btn {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 2rem;
    font-weight: 600;
    padding: 2.5rem 1rem;
    margin: 1rem 0rem;
    width: 95%;
    border: 0px;
    box-shadow: 0px 10px 19px -4px rgba(0, 0, 0, 0.3); }
    .sectionTwo__btn-number {
      position: absolute;
      left: 0;
      transform: translate(-50%, 0);
      background-color: #9356DC;
      color: #fff;
      border-radius: 50%;
      padding: 1rem 1.5rem;
      margin-right: 4rem; }

.header {
  width: 100%; }
  .header__title-main {
    text-align: center;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: row !important;
    height: 6rem;
    font-size: 3rem;
    vertical-align: middle; }
  .header__title-secondary {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    background-color: rgba(194, 201, 201, 0.5);
    width: 100%;
    color: #343636; }
    .header__title-secondary i {
      margin: 0.5; }
    .header__title-secondary span {
      margin: 1rem; }

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
  list-style: none;
  text-decoration: none; }

a {
  color: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

.title-shi {
  font-family: "Shrikhand", cursive; }

body {
  font-family: 'Roboto', sans-serif;
  max-width: 1500px;
  margin: auto;
  box-sizing: border-box; }
