@import "../../variables";

.restaurants {
    background-color: rgba($color-gc, 0.2);
    padding: 2rem;

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @include respond(tab-land) {
            margin: 3rem;
            flex-direction: row;
        }
    }

    &__title {
        align-self: flex-start;
        font-size: 3rem;
        padding: 2rem;
    }

    &__card {
        width: 90%;
        border-radius: 2rem;
        background-color: white;
        margin: 2rem 0;
        @include respond(tab-land) {
            margin: 2rem;
        }

        &-img-content {
            position: relative;

            span {
                position: absolute;
                top: 1rem;
                right: 1rem;
                font-size: 1.5rem;

                color: green;
                padding: 0.5rem;
                background-color: rgba($color-t, 1);
            }
        }
        &-img {
            height: 22rem;
            border-top-left-radius: 1.5rem;
            border-top-right-radius: 1.5rem;
            object-fit: cover;
            width: 100%;
        }

        &-content {
            position: relative;
            padding: 1rem;
            h3 {
                font-size: 2rem;
            }
            p {
                font-size: 2rem;
                color: $color-gf;
            }
            &-icon {
                display: block;
                position: absolute;
                right: 3rem;
                top: 2rem;
                transform: translate(50%, 50%);
                cursor: pointer;
                i {
                    size: 4rem;
                }
                .fas {
                    display: none;
                }

                &:hover {
                    .far {
                        display: none;
                    }

                    .fas {
                        display: inherit;
                        color: $color-p;
                    }
                }
            }
        }
    }
}
