.menu {
    position: relative;
    height: 100%;
    border-top-left-radius: 4rem;
    border-top-right-radius: 4rem;
    margin-top: -2rem;
    top: -5rem;
    background-color: rgb(247, 247, 247);
    padding: 4rem 3.5rem;

    &__title-block {
        position: relative;
        display: block;
        width: 100%;
    }

    &__entre {
        &-title {
            text-transform: uppercase;
            position: relative;
            display: inline-block;
            color: $color-gc;
            font-size: 1.8rem;
            margin-top: 4rem;

        }
    }

    &__plat {
        background-color: #fff;
        border-radius: 1.5rem;
        margin: 1rem;
        padding: 1rem;
        box-shadow: 4px 4px 6px #aaa;
        position: relative;
        cursor: pointer;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        transition: padding-right 450ms ease-in-out;
        @include respond(tab-land) {
            height: 10rem;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
        &-title {
            font-size: 1.6rem;
            text-overflow: ellipsis;
            display: inline;
            overflow: hidden;
        }

        &-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            line-height: 1.5rem;
            @include respond(tab-land) {
            }

            &-description {
                font-size: 1.8rem;
                color: $color-gc;
                overflow: hidden;
                text-overflow: ellipsis;
                display: inline;
                @include respond(tab-land) {
                }
            }

            &-tarif {
                font-size: 1.8rem;
                font-weight: bold;
                margin-left: auto;
            }
        }

        &:hover {
            padding-right: 6rem;
        }
        &:hover .fa-check-circle {
            transform: rotate(360deg);
        }

        .icone {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $color-t;
            width: 5rem;
            height: 105%;
            border-top-right-radius: 1.5rem;
            border-bottom-right-radius: 1.5rem;
            position: absolute;
            padding: 2rem;
            right: -6rem;
            top: 0;
            transition: transform 400ms ease-in-out;
            z-index: 100;
            .fa-check-circle {
                color: #fff;
                transition: transform 500ms ease-in-out;
            }
        }
        &:hover .icone {
            transform: translate(-6rem);
        }
    }

    &__btn {
        padding: 1.5rem 6rem !important;
        margin-top: 4rem !important;
        display: block;
        margin: auto;
    }
}

.menu__content {
    @include respond(tab-land) {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.menu__content-entre,
.menu__content-plat,
.menu__content-dessert {
    @include respond(tab-land) {
        cursor: pointer;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 50rem;
        transition: padding-right 450ms ease-in-out;

        &:hover {
            padding-right: 0;
        }
    }
}
